.table-container{
    /* background-color: red;  */
    margin-left: 80px;
    margin-right: 80px;
    max-height: calc(100vh - 230px);
    overflow: auto;

}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* Width */
.table-container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .table-container::-webkit-scrollbar-thumb {
    background: #5C2976;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #56276e;
  }



.bottom-content table{
    /* background-color: blue; */
    width: 100%;
    
}

table{
    width: 100%;
    border-spacing: 0;
}

td, th{
    text-align: center;
    height: 40px;
}

/* th{
    position: sticky;
    top: 0;
} */





.table-container td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.table-container .td-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container .buttons-header{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
    
}

.table-container button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    font-size: 16px;
    width: 120px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}


.table-container .btn-call-to-action{
    background-color: #5C2976;
    color: #fff;
    margin-left: 10px;
}

.table-container .btn-secondary{
    background-color: #fff;
    color: #5C2976;
    border: 2px solid #5C2976;
}

tr:not(.table-header):nth-child(even){
    background-color: #F1F1F1;
}

.table-header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: 1px solid #F1F1F1;    
}

.table-header th{
    font-weight: 600;
}

input{
    border: 2px solid #5C2976;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 150px;
    height: 20px;
    padding: 0;
    padding-left: 10px;
    border-radius: 30px;
    
}